// impoto bootstrap
@import '~bootstrap/scss/bootstrap';

// importo il font 
@import '~@fontsource/roboto/400.css';

// Importo  il file con le variabili
@import './vars';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $main-font;
    background-color: $secondo;
}